@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}

body {
    background-color: #191919;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

@import "blocks/promo/promo";
@import "blocks/episodes/episodes";
@import "blocks/subscribe/subscribe";
@import "blocks/footer/footer";

@import "blocks/promo/promo-media";
@import "blocks/episodes/episodes-media";
@import "blocks/subscribe/subscribe-media";

@import "blocks/navpanel";
@import "blocks/title";
@import "blocks/buttons";
@import "blocks/subscribe-form";
