.footer {
    padding-top: 120px;
    height: 200px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }
}

.page-links {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 300px;

        a {
            color: #fff;
        }
    }
}