.btn {
    width: 208px;
    height: 51px;
    border-radius: 6px;
    background-color: $main-color;
    border: none;

    &_item {
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 576px) {
    .btn {
        &_item {
            position: relative;
        }
    }
}